.obpPlotter{
    pointer-events: none;
}
.editing .obpPlotter{
    pointer-events: inherit;
}
.obpPlotter .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0.5em;
    font-size: 2em;
}
.obpPlotter button{
    font-size: 1em;
    width: 1.3em;
    height: 1.3em;
    pointer-events: all;
}
.obpPlotter .error{
    color: red;
}
.obpPlotter .label {
    margin-right: 0.5em;
}

.button.Dim span{
    background-image: url("dimm.svg");
}