[Unit]
Description=boot splash screen 
[Service] 
ExecStart=/usr/lib/avnav/plugins/obp-plotterv3/splash/bin/bootsplash.sh
[Install]
WantedBy=basic.target