[Unit]
Description=boot splash screen 
[Service] 
ExecStart=/user/lib/avnav/plugins/obp-plotterv3/splash/bootsplash.sh
[Install]
WantedBy=basic.target